@keyframes moveRightToLeft {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}

.animatedImageWrapper {
  animation: moveRightToLeft 3s linear infinite;
}
